<<<<<<< HEAD
body{
    margin: 0;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    z-index: -1;
}

.steklo{
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(47.71% 64.41% at 50.94% 47.51%,
    rgba(198, 80, 0, 0.7482) 0%,
    rgba(142, 65, 12, 0.86) 24.48%,
    rgba(127, 64, 21, 0.86) 48.96%,
    rgba(79, 34, 3, 0.86) 74.48%,
    rgba(43, 17, 0, 0.86) 91.67%,
    rgba(32, 13, 0, 0.86) 100%);
    margin: 0;
    background-size: cover;
    z-index: -1;
}

.main_block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.string{
    margin-top: 50px;
    width: 1820px;
    height: 930px;
    display: flex;
    justify-content: space-between;
}

.elipse_photo{
    margin: 0;
    margin-left: 20px;
    width: 435px;
    height: 410px;
    border-radius: 50%;
    background-image: url(Photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.text_block{
    height: inherit;
    display: flex;
    flex-direction: column;
    font-size: 58px;
    color: white;
}

.verhnii{
    text-align: center;
    font-size: 71px;
}

.nignii{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.nignii_string{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    font-size: 37px;
    padding: 0px 100px;
}

.text{
    display: flex;
    flex-direction: column;
}

.column2{
    width: 430px;
}

.title{
    font-size: 58px;
}

.footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_footer{
    display: flex;
    align-items: center;
}

.content_footer>*{
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.vk:hover{
    filter: drop-shadow(1px 1px 0px white);
}

.vk{
    background: url(vk.png) center no-repeat;
    background-size: 100%;
}
.ig{
    background: url(ig.png) center no-repeat;
    background-size: 100%;
    width: 45px;

}
.tg{
    background: url(tg.png) center no-repeat;
    background-size: 100%;
    width: 43px;
}


=======
body{
    height: 100%;
    width: 100%;
    background-image: url(fon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.steklo{
    height: inherit;
    width: inherit;
    background: radial-gradient(47.71% 64.41% at 50.94% 47.51%,
    rgba(198, 80, 0, 0.7482) 0%,
    rgba(142, 65, 12, 0.86) 24.48%,
    rgba(127, 64, 21, 0.86) 48.96%,
    rgba(79, 34, 3, 0.86) 74.48%,
    rgba(43, 17, 0, 0.86) 91.67%,
    rgba(32, 13, 0, 0.86) 100%);
    margin: 0;
}

.elipse_photo{
    margin: 0;
    width: 435px;
    height: 410px;
    border-radius: 50%;
    background-image: url(Photo.png);
}

frame_photo{
width: 500px;
height: 501px;
left: 63px;
top: 55px;
background: url(I:\\Web\\frame_photo.PNG);
}

elipse_1{
width: 91px;
height: 88px;
left: 163px;
top: 525px;
border-radius: 50%;
background: rgba(123, 102, 45, 0.67);
}

elipse_2{
width: 65px;
height: 63px;
left: 379px;
top: 39px;
border-radius: 50%;
background: rgba(123, 102, 45, 0.67);
}

line_1{
width: 30px;
height:  479px;
left: 74px;
top: 500px;
background: url(I:\\Web\\line_1.PNG);
}
>>>>>>> 726759c7e3560323d6454d46d9c0aa237d3c9da4
